@model ErrorViewModel
@{
    ViewData["Title"] = "Fout";
}

<h1 class="text-danger">Fout.</h1>
<h2 class="text-danger">Er is een fout opgetreden bij het verwerken van uw verzoek.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
